/*RESET*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    /* height: 100%; */
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    --dark-color: #1D1E1E;
    --light-color: #E5E9EA;
    --accent-color: #69AFB1;
    --text-color-light: #fafafa;
    --text-color-gray: #D4D4D4;
    --bg-gradient-color: linear-gradient(180deg, #E5E9EA 6.19%, #1D1E1E 403.95%);
    --bg-modal-color: #1d1e1e7c;

    --font-family: 'visuelt_proregular';
    --font-family-medium: 'visuelt_promedium';
    --font-family-bold: 'visuelt_probold';
    --font-size-10px: 0.625rem;
    --font-size-12px: 0.75rem;
    --font-size-14px: 0.875rem;
    --font-size-16px: 1rem;
    --font-size-20px: 1.25rem;
    --font-size-26px: 1.625rem;
    --font-size-44px: 2.75rem;

    --letter-spacing-nav: 0.04rem;
    --letter-spacing-subtitle: 0.08rem;
    --margin-card: 0.6rem;
    --margin-tiny: 0.25rem;
    --margin-10px: 0.625rem;
    --margin-30px: 1.875rem;

    --button-shadow: #313131 0px 2px 20px;
    --shadow-color: 192deg 4% 72%;
    --shadow-color-button: 0deg 0% 36%;
    --shadow-elevation-medium:
        0px 1px 1.4px hsl(var(--shadow-color) / 0.03),
        0px 3.6px 5.2px -0.1px hsl(var(--shadow-color) / 0.1),
        0.1px 7.3px 10.5px -0.3px hsl(var(--shadow-color) / 0.18),
        0.1px 15px 21.5px -0.4px hsl(var(--shadow-color) / 0.25);
    --shadow-elevation-high:
        0px 1px 1.1px hsl(var(--shadow-color) / 0.15),
        0px 3.5px 4px -0.3px hsl(var(--shadow-color) / 0.16),
        0px 6.1px 7px -0.7px hsl(var(--shadow-color) / 0.16),
        0px 9.6px 11px -1px hsl(var(--shadow-color) / 0.16),
        0px 14.9px 17.1px -1.3px hsl(var(--shadow-color) / 0.16),
        0px 22.8px 26.2px -1.7px hsl(var(--shadow-color) / 0.16),
        -0.1px 34.2px 39.2px -2px hsl(var(--shadow-color) / 0.17),
        -0.1px 50px 57.4px -2.3px hsl(var(--shadow-color) / 0.17);
    --shadow-elevation-button:
        0px 1px 1.4px hsl(var(--shadow-color-button) / 0.03),
        0px 3.6px 5.2px -0.1px hsl(var(--shadow-color-button) / 0.1),
        0.1px 7.3px 10.5px -0.3px hsl(var(--shadow-color-button) / 0.18),
        0.1px 15px 21.5px -0.4px hsl(var(--shadow-color-button) / 0.25);

    --shadow-elevation-button-modal:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
        0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
        2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
        5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);

    --shadow-elevation-button-modal-hover:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
        1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
        2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
        4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
        7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
        11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
        17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
        25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}



/*ESTILOS GENERALES*/
body {
    background: var(--dark-color);
    font-family: var(--font-family);
    color: var(--light-color);
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.36),
        0px 0.8px 0.9px -0.8px hsl(var(--shadow-color) / 0.36),
        0px 2.1px 2.4px -1.7px hsl(var(--shadow-color) / 0.36),
        0.1px 5.1px 5.7px -2.5px hsl(var(--shadow-color) / 0.36);
}

.layout-container {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
}

.light-bg {
    background: var(--light-color);
}

.margin-modal-subtitle {
    margin-bottom: var(--margin-10px);
}

.margin-modal {
    margin-bottom: var(--margin-30px);
}

/* .modal-open{
    overflow: hidden;
} */



/*Componente NAVBAR*/
.navbar {
    background: var(--light-color);
    min-height: 5.5rem;

    display: flex;
    align-items: center;
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
}

.navbar-navigation {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.site-logo {
    display: flex;
    align-items: center;
    gap: 3px;
}

.site-logo a {
    display: inline-block;
    text-decoration: none;

    color: var(--accent-color);
    font-family: var(--font-family-bold);
    font-size: var(--font-size-26px);
    transition: color ease 230ms;
}

.icon-logo {
    fill: var(--accent-color);
    cursor: pointer;
    transition: fill ease 230ms;
}

.site-logo:hover a {
    color: var(--dark-color);
}

.site-logo:hover .icon-logo {
    fill: var(--dark-color);
}

.navigation {
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;

    list-style: none;
    color: var(--dark-color);
    font-family: var(--font-family-medium);
}

.navigation a {
    color: var(--dark-color);
    text-transform: uppercase;
    font-size: var(--font-size-14px);
    letter-spacing: var(--letter-spacing-nav);
    padding: 0 0.25rem 0.15rem 0.25rem;
}

.navigation a:link,
.navigation a:visited,
.navigation a:active {
    color: var(--dark-color);
}

.navigation a {
    position: relative;
    display: inline-block;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: var(--accent-color);
    width: 0;
    height: 0.125rem;
    transition: all 300ms ease-out;
}

.navigation a:hover::after {
    width: 100%;
}

.navigation .active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: var(--accent-color);
    width: 100%;
    height: 0.125rem;
}

.header-cart-icon {
    position: relative;
}

.header-cart-count {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    line-height: 1;
}

.header-cart-count::after {
    display: inline-block;
    text-align: center;
    padding: 0.3125rem 0 0 0;

    content: attr(data-header-cart-count);
    font-family: var(--font-family-medium);
    font-size: var(--font-size-14px);

    min-height: 22px;
    min-width: 22px;
    color: var(--text-color-light);

    background-color: var(--dark-color);
    border-radius: 50%;

}

.header-cart-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-cart-info>span {
    font-family: var(--font-family-medium);
    font-size: var(--font-size-16px);
    color: var(--dark-color);
}




/*Componente BANNER*/
.banner {
    margin: 6.125em 0 0 0;
    width: 100%;
    max-height: fit-content;
}

#img-banner {
    width: 100%;
    /* height: auto; */
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}



/*Componente PASTILLAS DE CONTENIDO*/
.container-pastillas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 2.563em 0 4.625em 0;
}

.pastilla {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.pastilla:nth-child(1):before {
    content: url(../assets/icons/envios.svg);
}

.pastilla:nth-child(2):before {
    content: url(../assets/icons/soporte.svg);
}

.pastilla:nth-child(3):before {
    content: url(../assets/icons/devolucion.svg);
}

.pastilla:nth-child(4):before {
    content: url(../assets/icons/ofertas.svg);
}

.pastilla span {
    font-family: var(--font-family-bold);
    font-size: (var(--font-size-16px));
    color: var(--text-color-light);
}

.pastilla p {
    font-size: var(--font-size-14px);
    color: var(--text-color-gray);
}



/*SEPARADOR*/
.custom-shape-divider-top {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 38px;
}

.custom-shape-divider-top .shape-fill {
    fill: var(--dark-color);
}



/*Componente PRODUCTOS*/
.secundaria {
    justify-content: center;
    gap: 2.5rem;

    padding: 8.5rem 0 0 0;
}

.subtitle {
    font-family: var(--font-family-medium);
    font-size: var(--font-size-16px);
    color: var(--accent-color);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-subtitle);

    display: inline-block;
}

.margin-subtitle {
    margin-top: 6.2rem;
}

.h1 {
    font-family: var(--font-family-bold);
    font-size: var(--font-size-44px);
    color: var(--dark-color);
    line-height: 1;
}

.margin-h1 {
    margin-bottom: 3.125rem;
    margin-top: 0.75rem;
}

.cards-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(18.75em, 1fr));
    column-gap: 20px;
    row-gap: 50px;
}

.card {
    background: var(--dark-color);
    width: 100%;
    max-width: 18.75em;
    border-radius: 9px;
    overflow: hidden;

    box-shadow: var(--shadow-elevation-medium);
    transition: transform ease 230ms;
}

.card:hover {
    transform: translate(0px, -5px);
    transition: transform ease-out 230ms;
}

.card-body {
    padding: 1.2rem;
    cursor: default;
}

.card-body span:first-of-type {
    font-family: var(--font-family-medium);
    font-size: var(--font-size-12px);
    color: var(--text-color-gray);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-subtitle);

    display: inline-block;
}

.card-body .h2 {
    font-family: var(--font-family-bold);
    font-size: var(--font-size-20px);
    line-height: 1;
    color: var(--text-color-light);
}

.card-body p {
    font-size: var(--font-size-14px);
}

.card-body span:last-of-type {
    font-family: var(--font-family-medium);
    font-size: var(--font-size-20px);
    display: inline-block;
    margin-bottom: 0.4rem;
}

.margin-card {
    margin-bottom: var(--margin-card);
}

.margin-tiny {
    margin-bottom: var(--margin-tiny);
}

.button {
    display: inline-block;
    font-family: var(--font-family-bold);
    font-size: var(--font-size-16px);
    border: none;
    cursor: pointer;

    padding: 0.5rem 1.5rem;
}

.cta {
    display: flex;
    justify-content: space-between;
}

.second_cta {
    background: none;
    color: var(--accent-color);
    padding: 0.5rem 0;
}

.main_cta {
    background: var(--accent-color);
    color: var(--text-color-light);
    padding: 0.5rem 1.1rem 0.4rem 2.5rem;
    border-radius: 2.375rem;
    box-shadow: var(--button-shadow);

    background-image: url(../assets/icons/carrito-button.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 0.8rem center;

    transition: color ease 230ms, box-shadow ease 230ms, background-image ease 230ms;
}

.main_cta:hover {
    box-shadow: var(--shadow-elevation-button);
    color: var(--dark-color);
    background-image: url(../assets/icons/carrito-button-hover.svg);
}

#productos {
    position: relative;
    padding-bottom: 9em;
}



/*Componente VENTANA MODAL (Producto)*/
.bg-modal {
    display: none;
    /* display: grid; */
    place-items: center;

    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: var(--bg-modal-color);
}

.modal {
    position: relative;
    width: 85%;
    max-width: 1300px;
    padding: 100px 60px;
    border-radius: 9px;

    background: var(--light-color);

    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media screen and (min-width: 1500px) {
    .modal {
        padding: 150px 140px;
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.gallery-img-container {
    width: 400px;
}

.gallery-img {
    width: 100%;
    height: auto;

    object-fit: cover;
    object-position: center;
    border-radius: 9px;
}

.gallery-thumbnails {
    display: flex;
    gap: 14px;
}

.gallery-thumbnails>img {
    width: 80px;
    height: auto;
    border-radius: 4px;
    background-color: #fafafa;
    cursor: pointer;
    transition: box-shadow ease 230ms;
}

.gallery-thumbnails>img:hover {
    box-shadow: var(--shadow-elevation-button-modal);
}

.selected {
    border: 2px solid var(--accent-color);
}

.content {
    max-width: 500px;
    width: 100%;
}

.description {
    font-family: var(--font-family);
    font-size: var(--font-size-14px);
    color: var(--dark-color);
    max-width: 55ch;
}

.price {
    color: var(--dark-color);
    font-family: var(--font-family-bold);
    font-size: var(--font-size-26px);
}

.product-quantity {
    display: flex;
    gap: 20px;
}

.input-price {
    display: flex;
    align-items: center;

}

.input-minus,
.input-plus,
.close-modal {
    color: var(--accent-color);
    font-family: var(--font-family-bold);
    font-size: var(--font-size-26px);
    padding: 4px 15px 0 15px;
    border-radius: 50%;

    cursor: pointer;
    user-select: none;
    transition: background ease 230ms;
}

.input-minus:hover,
.input-plus:hover,
.close-modal:hover {
    background: var(--text-color-gray);
}

.input-number {
    font-family: var(--font-family-medium);
    font-size: var(--font-size-20px);
    text-align: center;

    background-color: var(--light-color);
    border: none;
    outline: none;
    width: 60px;
}

.cta_light-bg {
    box-shadow: var(--shadow-elevation-button-modal);
}

.cta_light-bg:hover {
    box-shadow: var(--shadow-elevation-button-modal-hover);
}


.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
}



/*Componente VENTANA MODAL (Carrito de compras)*/
.bg-modal-carrito {
    display: none;
    /*display: flex;*/
    justify-content: end;

    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: var(--bg-modal-color);
}

.carrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    width: 30%;
    max-width: 500px;
    padding: 90px 60px 40px 60px;
    border-radius: 9px 0 0 9px;
    background: var(--light-color);
}

.close-modal-carrito {
    position: absolute;
    top: 20px;
    right: 20px;

    color: var(--accent-color);
    font-family: var(--font-family-bold);
    font-size: var(--font-size-26px);
    padding: 4px 15px 0 15px;
    border-radius: 50%;

    cursor: pointer;
    user-select: none;
    transition: background ease 230ms;
}

.close-modal-carrito:hover {
    background: var(--text-color-gray);
}

.subtitle-carrito {
    font-family: var(--font-family-medium);
    font-size: var(--font-size-14px);
    color: gray;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-nav);
    display: inline-block;
}

.products-container {
    height: 400px;
    overflow-y: scroll;
}

.product-added {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 14px 14px 0;

    border-top: 1px solid var(--text-color-gray);
    border-bottom: 1px solid var(--text-color-gray);
}

.product-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-carrito {
    width: 70px;
    height: auto;
    border-radius: 3px;
}

.h2 {
    font-family: var(--font-family-bold);
    font-size: var(--font-size-16px);
    line-height: 1;
    color: var(--dark-color);
    font-weight: normal;

    margin-bottom: 5px;
}

.product-info>div>p {
    font-family: var(--font-family);
    font-size: var(--font-size-16px);
    line-height: 1;
    color: var(--dark-color);
}

.product-action {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 46px;
}

.delete-item {
    cursor: pointer;
}

.delete-item>svg {
    fill: var(--accent-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: background ease 230ms;
}

.delete-item:hover svg {
    background: var(--text-color-gray);
}

.cantidad {
    font-family: var(--font-family);
    font-size: var(--font-size-12px);
    line-height: 1;
    color: gray;
    text-align: end;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family-bold);
    font-size: var(--font-size-20px);
    line-height: 1;
    color: var(--dark-color);

    margin-bottom: 10px;

}

.carrito .main_cta {
    display: block;
    padding: 0.5rem 4.5rem 0.5rem 4.5rem;
    margin: 20px auto;
    border-radius: 2.375rem;

    background: var(--accent-color);
    color: var(--text-color-light);
    background-image: none;
}

.empty-button {
    display: block;
    background: url(../assets/icons/delete.svg);
    background-repeat: no-repeat;
    background-position: 1.65rem center;

    border: none;
    font-family: var(--font-family-bold);
    font-size: var(--font-size-12px);
    text-transform: uppercase;
    line-height: 1;
    color: gray;

    cursor: pointer;
    margin: 0 auto;
    padding: 0.5rem 2.1rem 0.4rem 3.1rem;
    position: relative;
}

@media screen and (min-width: 1500px) {
    .products-container {
        height: 550px;
    }

    .product-added {
        padding: 18px 18px 18px 0;
    }
}



/*Componente SCROLLBAR*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--text-color-gray);
}

::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(139, 139, 139);
}